# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environnement
.env

# Next.js
.next/


# Fichiers système Windows
Thumbs.db
Desktop.ini
.DS_Store
*.log

# Fichiers temporaires
*.tmp
*.swp

# Dossiers de projets mobiles (Expo / React Native)
.expo/
android/
ios/
